---
site:
  title: Stackable Documentation
  url: https://docs.stackable.tech
  start_page: home::index.adoc
  robots: allow
  keys:
    enable_tracking: true

urls:
  # This replaces the component version in the URL of the latest stable version with 'stable'
  # i.e. /commons-operator/stable/index.html instead of /commons-operator/0.3/index.html
  latest_version_segment: stable
  redirect_facility: netlify

content:
  branches: [release-*]
  tags: docs/*
  sources: 
    - url: https://github.com/stackabletech/documentation.git
      tags: []
      branches: [release/*, spike/distributed-component]
    # stackablectl
    - url: https://github.com/stackabletech/stackablectl.git
      start_path: docs
    # internal operators
    - url: https://github.com/stackabletech/commons-operator.git
      start_path: docs
    - url: https://github.com/stackabletech/secret-operator.git
      start_path: docs
    - url: https://github.com/stackabletech/listener-operator.git
      start_path: docs
    # product operators
    - url: https://github.com/stackabletech/airflow-operator.git
      start_path: docs
      branches: [release-*, spike/distributed-component]
    - url: https://github.com/stackabletech/druid-operator.git
      start_path: docs
      branches: [release-*, spike/distributed-component]
    - url: https://github.com/stackabletech/hbase-operator.git
      start_path: docs
      branches: [release-*, spike/distributed-component]
    - url: https://github.com/stackabletech/hdfs-operator.git
      start_path: docs
    - url: https://github.com/stackabletech/hive-operator.git
      start_path: docs
    - url: https://github.com/stackabletech/kafka-operator.git
      start_path: docs
    - url: https://github.com/stackabletech/nifi-operator.git
      start_path: docs
    - url: https://github.com/stackabletech/opa-operator.git
      start_path: docs
    - url: https://github.com/stackabletech/spark-k8s-operator.git
      start_path: docs
    - url: https://github.com/stackabletech/superset-operator.git
      start_path: docs
    - url: https://github.com/stackabletech/trino-operator.git
      start_path: docs
      branches: [release-*, spike/distributed-component]
    - url: https://github.com/stackabletech/zookeeper-operator.git
      start_path: docs
      branches: [release-*, spike/distributed-component]

ui:
  bundle:
    url: ./ui/build/ui-bundle.zip
  supplemental_files: ./supplemental-ui

antora:
  extensions:
    - '@antora/lunr-extension'
    - asciidoctor-kroki

asciidoc:
  attributes:
    base-repo: https://github.com/stackabletech
    plantuml-server-url: http://www.plantuml.com/plantuml
    kroki-fetch-diagram: true
  extensions:
    - asciidoctor-kroki

# the default caching directory is ./.cache/antora
# Antora caches the git repos, this can sometimes lead to stale content
# use 'make clean' to remove the build and cache directory
runtime:
  cache_dir: ./cache
