---
site:
  title: Stackable Documentation
  url: https://docs.stackable.tech
  start_page: home::index.adoc
  robots: allow
  keys:
    enable_tracking: true # this key is used in the documentation-ui
# URL config settings.
# docs: https://docs.antora.org/antora/latest/playbook/configure-urls/
urls:
  # The symbolic name of the latest stable version, and how to redirect from/to it.
  # with 'redirect:to', the _actual_ version link is a redirect, and the _actual_ link
  # contains the symbolic name, i.e. stable.
  # As the user browses the latest docs, there will be 'stable' in the links. Also
  # search engines will see the 'stable' link and index those pages, so if we release
  # a new version, these links will be already in the index, which is good.
  # Linking to the latest version by version number is still possible, and after the
  # latest version is not latest anymore, the redirect is instead the actual URL.
  latest_version_segment: stable
  latest_version_segment_strategy: redirect:to
  # See https://docs.antora.org/antora/latest/playbook/urls-html-extension-style/#html-extension-style-key
  html_extension_style: indexify
content:
  sources:
    - url: .
      branches:
        - release/24.11
        - release/24.7
        - release/24.3
        - release/23.11
        - release/23.7
        - release/23.4
        - release/23.1
    # management tools
    - url: https://github.com/stackabletech/stackable-cockpit.git
      start_path: docs
      branches: main
    # demos
    - url: https://github.com/stackabletech/demos.git
      start_path: docs
      branches:
        - release-24.11
        - release-24.7
        - release-24.3
        - release-23.11
        - release-23.7
        - release-23.4
        - release-23.1
    # internal operators
    - url: https://github.com/stackabletech/commons-operator.git
      start_path: docs
      branches:
        - release-24.11
        - release-24.7
        - release-24.3
        - release-23.11
        - release-23.7
        - release-23.4
        - release-23.1
    - url: https://github.com/stackabletech/secret-operator.git
      start_path: docs
      branches:
        - release-24.11
        - release-24.7
        - release-24.3
        - release-23.11
        - release-23.7
        - release-23.4
        - release-23.1
    - url: https://github.com/stackabletech/listener-operator.git
      start_path: docs
      branches:
        - release-24.11
        - release-24.7
        - release-24.3
        - release-23.11
        - release-23.7
        - release-23.4
        - release-23.1
    # product operators
    - url: https://github.com/stackabletech/airflow-operator.git
      start_path: docs
      branches:
        - release-24.11
        - release-24.7
        - release-24.3
        - release-23.11
        - release-23.7
        - release-23.4
        - release-23.1
    - url: https://github.com/stackabletech/druid-operator.git
      start_path: docs
      branches:
        - release-24.11
        - release-24.7
        - release-24.3
        - release-23.11
        - release-23.7
        - release-23.4
        - release-23.1
    - url: https://github.com/stackabletech/hbase-operator.git
      start_path: docs
      branches:
        - release-24.11
        - release-24.7
        - release-24.3
        - release-23.11
        - release-23.7
        - release-23.4
        - release-23.1
    - url: https://github.com/stackabletech/hdfs-operator.git
      start_path: docs
      branches:
        - release-24.11
        - release-24.7
        - release-24.3
        - release-23.11
        - release-23.7
        - release-23.4
        - release-23.1
    - url: https://github.com/stackabletech/hive-operator.git
      start_path: docs
      branches:
        - release-24.11
        - release-24.7
        - release-24.3
        - release-23.11
        - release-23.7
        - release-23.4
        - release-23.1
    - url: https://github.com/stackabletech/kafka-operator.git
      start_path: docs
      branches:
        - release-24.11
        - release-24.7
        - release-24.3
        - release-23.11
        - release-23.7
        - release-23.4
        - release-23.1
    - url: https://github.com/stackabletech/nifi-operator.git
      start_path: docs
      branches:
        - release-24.11
        - release-24.7
        - release-24.3
        - release-23.11
        - release-23.7
        - release-23.4
        - release-23.1
    - url: https://github.com/stackabletech/opa-operator.git
      start_path: docs
      branches:
        - release-24.11
        - release-24.7
        - release-24.3
        - release-23.11
        - release-23.7
        - release-23.4
        - release-23.1
    - url: https://github.com/stackabletech/spark-k8s-operator.git
      start_path: docs
      branches:
        - release-24.11
        - release-24.7
        - release-24.3
        - release-23.11
        - release-23.7
        - release-23.4
        - release-23.1
    - url: https://github.com/stackabletech/superset-operator.git
      start_path: docs
      branches:
        - release-24.11
        - release-24.7
        - release-24.3
        - release-23.11
        - release-23.7
        - release-23.4
        - release-23.1
    - url: https://github.com/stackabletech/trino-operator.git
      start_path: docs
      branches:
        - release-24.11
        - release-24.7
        - release-24.3
        - release-23.11
        - release-23.7
        - release-23.4
        - release-23.1
    - url: https://github.com/stackabletech/zookeeper-operator.git
      start_path: docs
      branches:
        - release-24.11
        - release-24.7
        - release-24.3
        - release-23.11
        - release-23.7
        - release-23.4
        - release-23.1
ui:
  bundle:
    url: ./ui/build/ui-bundle.zip
  supplemental_files: ./supplemental-ui
asciidoc:
  extensions:
    - '@asciidoctor/tabs'
  attributes:
    base-repo: https://github.com/stackabletech
    plantuml-server-url: http://www.plantuml.com/plantuml
    kroki-fetch-diagram: true
    # an external icon. Create a link opening in a new tab like this: http://my-url.com[Text {external-link-icon}^]
    external-link-icon: "<i class=\"fa-solid fa-arrow-up-right-from-square fa-xs\" style=\"margin-left: 3px; vertical-align: baseline;\"></i>"
# the default caching directory is ./.cache/antora
# Antora caches the git repos, this can sometimes lead to stale content
# use 'make clean' to remove the build and cache directory
runtime:
  cache_dir: ./cache
  log:
    failure_level: warn
