---
site:
  title: Stackable Documentation
  url: https://docs.stackable.tech
  robots: allow

content:
  sources: 
    - url: /workspace/documentation
      branches: HEAD

    - url: https://github.com/stackabletech/airflow-operator.git
      branches: main
      start_path: docs
    - url: https://github.com/stackabletech/druid-operator.git
      branches: main
      start_path: docs
    - url: https://github.com/stackabletech/hbase-operator.git
      branches: main
      start_path: docs
    - url: https://github.com/stackabletech/hdfs-operator.git
      branches: main
      start_path: docs
    - url: https://github.com/stackabletech/hive-operator.git
      branches: main
      start_path: docs
    - url: https://github.com/stackabletech/kafka-operator.git
      branches: main
      start_path: docs
    - url: https://github.com/stackabletech/nifi-operator.git
      branches: main
      start_path: docs
    - url: https://github.com/stackabletech/opa-operator.git
      branches: main
      start_path: docs
    - url: https://github.com/stackabletech/spark-operator.git
      branches: main
      start_path: docs
    - url: https://github.com/stackabletech/superset-operator.git
      branches: main
      start_path: docs
    - url: https://github.com/stackabletech/trino-operator.git
      branches: main
      start_path: docs
    - url: https://github.com/stackabletech/zookeeper-operator.git
      branches: main
      start_path: docs

ui:
  bundle:
    url: ./ui/build/ui-bundle.zip
  supplemental_files: ./node_modules/@antora/lunr-extension/supplemental_ui

antora:
  extensions:
    - '@antora/lunr-extension'

asciidoc:
  attributes:
    base-repo: https://github.com/stackabletech
