    <title>{{{detag (or page.title defaultPageTitle)}}}{{#if (ne page.module 'ROOT')}} :: {{page.module}}{{/if}}{{#if (ne page.component.name 'home')}} :: {{page.component.title}}{{/if}}{{#with site.title}} :: {{this}}{{/with}}</title>
