= {{ DisplayName }}
{{ Author }}
{{ Version }}, {{ Date }}
:latest_version: {{ Version }}
:toc:
:icons: font


Apache Kafka is an open-source distributed event streaming platform.

== Operator Status
* *Category:* {{ Category }}
* *Maturity level:* {{ Maturity }}
* *Version:* {{ Version }}
* *Development status:* {{ Status }}
* *Stackable repo:*  {{ StackableRepo }}
* *Website:* {{ Link }}

== Operator Dependencies
{% set Dependencies = Dependencies|string %}
{% if Dependencies != "nan" %}
{% set deps = Dependencies.split(",") %}
{% for dep in deps %}
* {{ dep }}
{% endfor %}
{% else %}
None
{% endif %}

== Operator Features
* Deploy one or more Kafka brokers
