= {{ DisplayName }}
{{ Author }}
{{ Version }}, {{ Date }}
:latest_version: {{ Version }}
:toc:
:icons: font


Apache Hadoop HDFS is a distributed file system that provides high-throughput access to application data.

== Operator Status
* *Category:* {{ Category }}
* *Maturity level:* {{ Maturity }}
* *Version:* {{ Version }}
* *Development status:* {{ Status }}
* *Stackable repo:*  {{ StackableRepo }}
* *Website:* {{ Link }}

== Operator Dependencies
{% if Dependencies is not number %}
{% set deps = Dependencies.split(",") %}
{% for dep in deps %}
* {{ dep }}
{% endfor %}
{% else %}
None
{% endif %}

== Operator Features
* Deploy and manage HDFS roles
** NameNode
** DataNode
** JournalNode
