<article class="doc">
{{! In antora.yml set asciidoc.attributes.page-end-of-life to true/false}}
{{#if page.attributes.end-of-life}}
<div class="unmaintained-version-banner">
  This version of the Stackable Data Platform is no longer maintained.
  {{#if page.canonicalUrl}}
  Please read the <a href="{{{page.canonicalUrl}}}">latest version of this page</a> instead.
  {{/if}}
</div>
{{/if}}
{{#with page.title}}
<h1 class="page">{{{this}}}</h1>
{{/with}}
{{{page.contents}}}
{{> pagination}}
</article>
