<footer class="footer">
  <div class="container">
    <div class="footer-container">
      <!-- link columns -->
      <div class="footer-info">
        <div class="footer-info-item-large">
          <img src="{{{uiRootPath}}}/img/logo-2-1.png">
          <p class="footer-motto">
            your data, your platform
          </p>
        </div>
        <div class="footer-info-item">
          <h2>Company</h2>
          <ul class="footer-link-list">
            <li>
              <a href="https://stackable.tech/en/about-us">About Us</a>
            </li>
            <li>
              <a href="https://stackable.tech/en/blog">Blog</a>
            </li>
            <li>
              <a href="https://jobs.stackable.de/" target="_blank">Jobs</a>
            </li>
          </ul>
        </div>
        <div class="footer-info-item">
          <h2>Support</h2>
          <ul class="footer-link-list">
            <li>
              <a href="https://stackable.tech/en/contact">Contact Us</a>
            </li>
            <li>
              <a href="https://stackable.tech/en/imprint">Imprint</a>
            </li>
            <li>
              <a href="https://stackable.tech/en/data-protection">Data Protection</a>
            </li>
          </ul>
        </div>
        <div class="footer-info-item">
          <h2>Get in touch</h2>
          <ul class="footer-link-list">
            <li>
              <a href="mailto:info@stackable.tech">info@stackable.tech</a>
            </li>
            <li>
              <a href="tel:+4941039263100">+49 4103 926 3100</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-seperator"></div>
      <!-- social links -->
      <div class="c-and-socials">
        <div>© 2025 Stackable.</div>
        <div class="social-icons-container">
          <a class="social-icon" href="https://www.xing.com/pages/stackable" target="_blank">
            <i class="fab fa-xing"></i>
          </a>
          <a class="social-icon" href="https://www.linkedin.com/company/stackabletech/" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
          <a class="social-icon" href="https://github.com/stackabletech" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          <a class="social-icon" href="https://twitter.com/stackabletech" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
      <p class="copyright-notice">
        Apache, Apache Kafka®, Kafka, and the Kafka logo, Apache Druid, Druid, and the Druid logo,
        Apache ZooKeeper™, ZooKeeper, and the Druid logo, Apache Hive™, Hive, and the Hive logo,
        Apache Spark™, Spark, and the Spark logo, Apache Airflow, Airflow, and the Airflow logo,
        Apache HBase®, HBase, and the HBase logo, Apache NiFi, NiFi, and the NiFi logo, Apache
        Superset, Superset, the Superset logo, Apache Hadoop® HDFS, Apache Hadoop, Hadoop and the
        Hadoop logo, Apache Phoenix™, Phoenix and the Phoenix-Logo, Apache Iceberg, Iceberg and the
        Iceberg-Logo are either registered trademarks or trademarks of the Apache Software Foundation
        in the United States and/or other countries. Open Policy Agent (OPA) is a Cloud Native
        Computing Foundation graduated project. Licensed under the Apache License, Version 2.0.
        OpenSearch is a project of The Linux Foundation licensed under the Apache License 2.0. Trino
        is open source software licensed under the Apache License 2.0 and supported by the Trino
        Software Foundation. MinIO is a [“registered”, if applicable] trademark of the MinIO
        Corporation. All other products or name brands are trademarks of their respective holders.
        All product and service names used in this website are for identification purposes only and
        do not imply endorsement.
      </p>
    </div>
  </div>
</footer>
