@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src:
    local("Roboto Mono Regular"),
    local("RobotoMono-Regular"),
    url(~typeface-noto-sans/files/noto-sans-latin-400.woff2) format("woff2"),
    url(~typeface-noto-sans/files/noto-sans-latin-400.woff) format("woff");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src:
    local("Roboto Mono Medium"),
    local("RobotoMono-Medium"),
    url(~typeface-noto-sans/files/noto-sans-latin-700.woff2) format("woff2"),
    url(~typeface-noto-sans/files/noto-sans-latin-700.woff) format("woff");
}
