name: Build site

on:
  pull_request:

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 #tag=v3.1.1
        with:
          submodules: true
          fetch-depth: 0
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 #tag=v4.0.2
        with:
          node-version: '20'
          cache: 'npm'
      - run: npm ci
      - run: make ANTORAFLAGS=--fetch
