name: Build site

on:
  pull_request:

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
        with:
          submodules: true
          fetch-depth: 0
      - uses: actions/setup-node@1a4442cacd436585916779262731d5b162bc6ec7 # v3
        with:
          node-version: '16'
          cache: 'npm'
      - run: npm ci
      - run: make ANTORAFLAGS=--fetch
