name: Build site

on:
  push:
    branches:
      - main

env:
  SITE_DIR: 'site'

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: "Generate site using Antora site action"
        uses: kameshsampath/antora-site-action@v0.2.0
        with:
          antora_playbook: antora-playbook.yml
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@4.1.1
        with:
          branch: 'docs'
          folder: 'build/site'
