name: Build site

on:
  pull_request:

env:
  SITE_DIR: 'site'

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'npm'
      - run: npm install
      - run: npx antora --fetch antora-playbook.yml
