name: Build site

on:
  pull_request:
    paths-ignore:
      - .github/PULL_REQUEST_TEMPLATES/**
      - .github/ISSUE_TEMPLATES/**
      - scripts/**

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          submodules: true
          fetch-depth: 0
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 #tag=v4.0.2
        with:
          node-version: '20'
          cache: 'npm'
      - run: npm ci
      - run: make ANTORAFLAGS=--fetch build-local
