name: Build site

on:
  pull_request:
    paths-ignore:
      - .github/PULL_REQUEST_TEMPLATES/**
      - .github/ISSUE_TEMPLATES/**
      - scripts/**

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5
        with:
          submodules: true
          fetch-depth: 0
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: '20'
          cache: 'npm'
      - run: npm ci
      - run: make ANTORAFLAGS=--fetch build-local
