name: Build and deploy site

on:
  push:
    branches:
      - main
  schedule:
    - cron: '15 2 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
        with:
          submodules: true
      - uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # v3
        with:
          node-version: '16'
          cache: 'npm'
      - run: npm ci
      - run: make ANTORAFLAGS=--fetch PLAYBOOK=antora-playbook.yml
      - name: Publish to GitHub Pages
        uses: peaceiris/actions-gh-pages@373f7f263a76c20808c831209c920827a82a2847 # v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          cname: docs.stackable.tech
          publish_dir: build/site
          publish_branch: docs
